# Virtual Environment
.venv/
venv/
env/
ENV/

# Django
*.pyc
__pycache__/
db.sqlite3
media/
blog/fixtures/


# Environment Variables
.env
env.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/
